<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation"content="portrait">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"><meta content="telephone=no" name="format-detection">
    <title>品牌详情</title>
    <link rel="stylesheet" type="text/css" href="/app/dist/css/app/brand_detail.css">
  </head>
  <body>
    <div id="brand_detail">
	  	<div class="head"></div>
	  	<div class="tabs">
		  	<ul class="tab_tit">
		  		<li class="tit usual active" data-sort="4"><span>默认</span></li>
		  		<li class="tit new" data-sort="5"><span>上新</span></li>
		  		<li class="tit num" data-sort="3"><span>销量</span></li>
		  		<li class="tit price" data-sort="1"><span>价格</span></li>
		  	</ul>
        <div class="container">
		  	 <div class="tab_con"></div>
        </div>
		  </div>
      <div id="page_tag_load"><img src="/app/images/page_tag_load.gif"/></div>
      <p class="no_more">没有更多了哦~</p>
    </div>
    <script type="text/javascript" src="/app/dist/js/app/brand_detail.js"></script>
  </body>
</html>