<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="telephone=no" name="format-detection">
    <title>地址选择</title>
    <link rel="stylesheet" type="text/css" href="/app/dist/css/app/check_address.css">
</head>
<body>
<div id="check_addresss">
    <p class="header"><a class="return"></a><span style="margin-left: 2rem;">收货信息</span><span
            class="save">保存</span></p>
    <div class="address_nav">
        <span class="province on">省</span>
        <span class="city">市</span>
        <span class="area">区</span>
        <span class="area_all">全区</span>
    </div>
    <div class="address_select">
        <ul></ul>
    </div>
    <div class="dialog hide">
        <div class="bac-mask"></div>
        <p class="msg"></p>
    </div>
</div>
</body>
<script src="/app/dist/js/app/check_address.js"></script>
</html>