<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="telephone=no" name="format-detection">
    <title>单品详情</title>
    <link rel="stylesheet" type="text/css" href="/app/dist/css/app/good_detail.css">
  </head>
  <body>
    <div id="good_detail"> 
      <p class="title">
        <img src="../images/pic_download_upward@2x.png" width="100%"/>
        <span class="close"></span>
        <a class="download"></a>
      </p>
      <div class="roll-imgs">
        <div class="saleout hide">
          <div class="bac">
            <p class="out_tag"></p>
          </div>
          <p class="out_txt">已售罄</p>
        </div>
        <div class="pic">
          <div class="images"></div>
        </div>
        <div class="mark hide">
          <p class="bac"></p>
          <div class="time">
            <span class="time_tit"></span>
            <span class="time_num j_time"></span>
          </div>
          <div class="price">
            <span class="price_tit">活动价</span>
            <span class="price_num"></span>
          </div>
        </div>
        <p class="tag"></p>
      </div>
      <div class="brand_info"></div>
      <div class="freight inter"></div>
      <p class="freight local">
        <span class="is_return_product">7天无理由退货</span>
        <span>优选原品</span>
      </p>
      <ul class="privilege"></ul>
      <p class="choiced"><span class="tit">选择：</span><span class="size">颜色尺码分类</span></p>
      <div class="mask hide"></div>
      <div class="choice-size-color hide">
        <div class="con">
          <dl>
            <dt>
              <img class="goods-img" src="">
            </dt>
            <dd class="info">
              <p class="goods-name"></p>
              <p>
                <span class="goods-price">价格：<span class="pink"></span></span>
                <span class="goods-num">库存：<span class="num"></span>件</span>
              </p>
              <p class="selected">已选择：<span class="color"></span><span class="size"></span></p>
            </dd>
            <dd class="close"></dd>
          </dl>
          <div class="do-choice">
            <div class="choice-color">
              <span class="tit">颜色</span>
              <p class="colors"></p>
            </div>
            <div class="choice-size">
              <span class="tit">尺码</span>
              <p class="sizes"></p>
            </div>
            <div class="choice-num">
              <span class="tit">购买数量</span>
              <span class="min_num"></span>
              <ul>
                <li class="subtract"></li>
                <li class="goodsnum">1</li>
                <li class="add"></li>
              </ul>
            </div>
          </div>
        </div>
        <p class="ascertain">确定</p>
      </div>
      <div class="brand_intro"></div>
      <div class="tabs">
        <ul class="tab_tit"></ul>
      </div>
      <div class="footer">
        <ul>
          <li><a class="login">登录</a></li>
          <li><a class="register">注册</a></li>
          <li><a href="http://www.hichao.com/">电脑版</a></li>
          <li><a class="download">客户端</a></li>
        </ul>
        <p class="center">京ICP备1024122号-2</p>
        <p class="center">北京万象新天网络科技有限公司</p>
      </div>
      <ul class="bottom">
        <li class="car"><span class="num"></span></li>
        <li class="buy">立即购买</li>
        <li class="add">加入购物车</li>
      </ul>
      <p class="to-top"></p>
      <div class="dialog hide">
        <div class="bac-mask"></div>
        <p class="msg"></p>
      </div>
    </div>
    <script type="text/javascript" src="/app/dist/js/app/good_detail.js"></script>
  </body>
</html>