<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"><meta content="telephone=no" name="format-detection">
    <title>我的收货地址</title>
    <link rel="stylesheet" type="text/css" href="/app/dist/css/app/my_address.css">
  </head>
  <body>
    <div id="my_address">
	    <p class="header"><a class="return"></a><span>我的收货地址</span><span class="new">新增</span></p>
	    <div class="items"></div>
		  <div class="dialog hide">
        <div class="bac-mask"></div>
        <p class="msg"></p>
      </div>
    </div>
    <script type="text/javascript" src="/app/dist/js/app/my_address.js"></script>
  </body>
</html>