<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"><meta content="telephone=no" name="format-detection">
    <title>支付方式</title>
    <link rel="stylesheet" type="text/css" href="/app/dist/css/app/payment_method.css">
  </head>
  <body>
    <div id="payment_method">
	  	<p class="header"><a class="return"></a><span>支付方式</span><span class="next">下一步</span></p>
	  	<div class="pay-list"></div>
      <div class="dialog hide">
        <div class="bac-mask"></div>
        <p class="msg"></p>
      </div>
    </div>
  <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
  <script src="/app/dist/js/app/payment_method.js"></script>
  </body>
</html>